<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Task2_v1.Properties.Settings.TestHotelConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|DataLayerTest\TestHotelDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="DataLayer.Properties.Settings.TestHotelConnectionString"
            connectionString="Data Source=TABLET-C23CIME9;Initial Catalog=Hotel;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>