<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataContext"
			 connectionString="Data Source=TABLET-C23CIME9;Initial Catalog=Hotel;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
